@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body{
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}

.box{
    width: 875px;
    margin: 100px auto;
    border-radius: 6px;
    background-color: #fff;
  }
  .title{
      padding: 20px;
      color: #5F6977;
  }
.item-row{
    display: flex;
   
    padding: 15px 0px;
  }

.delete-btn{
    background: none;
    border: none;
    margin: auto;
}