@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body{
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}

.box{
    width: 875px;
    margin: 100px auto;
    border-radius: 6px;
    background-color: #fff;
  }
  .heading{
    border-bottom: 1px solid #E1E8EE;

  }
  .title{
      padding: 20px;
      color: #5F6977;
  }
.item-row{
    display: flex;
    border-bottom: 1px solid #E1E8EE;
    padding: 15px 0px;
  }
  .delete-btn{
    margin: auto;
  }
 .btn{
    background: none;
    border: none;
  
}
.plus{
    background: none;
    border: none;
  
}
.minus{
    background: none;
    border: none;
  
}
.like-btn{
    margin: auto;
}
.product{
    margin: auto;
  }
.description{
   
    margin:20px;
width: 130px;
}
.description span{
    display: block;

}
span:last-child{
    color:  #A8B1B9;
    margin-top: 5px;
}
span:first-child{
    
    margin-bottom: 5px;
}
.quantity{
    margin: auto;
  }
  .quantity-prod{
      width:30px;
      border: 0;
      text-align: center;
  }
.minus img{
      padding: 3px;
  }
  .total-price{
    margin: auto;
  }

